<%= form_with(model: car) do |form| %>
  <% if car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
        <% car.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model %>
  </div>

  <div class="field">
    <%= form.label :brand %>
    <%= form.text_field :brand %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.text_field :year %>
  </div>

  <div class="field">
    <%= form.label :dealer_ship %>
    <%= form.collection_select :dealer_ship_id, DealerShip.order(:name),:id,:name, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :used %>
    <%= form.check_box :used %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
